<!-- <div>
  <ul>
    <li>user Agent - {{deviceInfo.userAgent}}</li>
    <li>Os - {{deviceInfo.os}}</li>
    <li>browser - {{deviceInfo.browser}}</li>
    <li>device - {{deviceInfo.device}}</li>
    <li>os_version - {{deviceInfo.os_version}}</li>
    <li>browser_version - {{deviceInfo.browser_version}}</li>
    <li>deviceType - {{deviceInfo.deviceType}}</li>
    <li>orientation - {{deviceInfo.orientation}}</li>
  </ul>
</div> -->
<div id="test">
  This is angular app
  <br>
  Chrome color: aqua
  <br>
  IE color: yellow
</div>
